NODE_ENV=development
PORT=4000

MONGODB_URI=mongodb+srv://390389_db_user:Tarek2003@cluster0.p0woca8.mongodb.net/?appName=Cluster0

JWT_SECRET=super-secret-jwt-key-kids-fashion
FRONTEND_URL=http://localhost:3000

# Optional Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
